body{
    background:#2e2e2e;
}

#portfolio-btn{
    border-radius: 50%;
}
button:hover{
    background-color:white;
    font-size:32px;
}
button {
    background-color: #989898;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }




/* .pargraph{
    height:100px;
    width:200px;
    border:2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    background-color:white;
    margin-left:100px;
    clear:left;
    
}


.name{
    font-family: 'Times New Roman', Times, serif;
    
    

}
.header{
    background-color:white;
}
#firstname{
    background:#4aaaa5;
    color: white;
    height:50px;
    width:250px;
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;
    float:left;
    margin-left;
    }
    #about{
        float:right;
        Margin:0px 10px;
       
        }
    #portfolio{
        float:right;
        Margin: 0px 10px;
    }
    #contact{
        float:right;
        margin: 0px 10px;

    }
#p{

}

img{
    float:left;
    height:200px;
    width:200px;
}
a{
    color:#777777;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
}
#h2{
    clear:left;
}
#contacts{
    clear:left;
} */
