body{
    background:#2e2e2e;
    
}

.container{
    display: flex;
    height:10vh;
    width:100%;
    align-items:center;
    justify-content:space-evenly;
    }
#info-about-me{
    display:flex;
    display:none;
    color: white;
    font-family: monospace;
    font-size:18px;
}
.name{
    width:500px;
    z-index:1;
    font-size:32px;
    display:flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-self: center;
    color:white;
    font-family: monospace;
    
}
  

.self-image{
    height:200px;
    width:200px;
    display:flex;
    align-items: center;
    justify-content:center;
    position: relative;    
    bottom:20px;
    border-radius:50%;
    margin-top:-200px;
}


  #learn-more-button{  
    border-radius: 15%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-self:flex-end;
    height:32px;
    width:100px;
    margin-right:13px;
    font-family: monospace;
    font-style: italic;
}
#learn-more-button:hover{
    background-color:#F08080;
    font-family: monospace;
}

#portfolio-btn{
    border-radius: 15%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-self:flex-end;
    height:32px;
    width:100px;
    margin-right:13px;
    font-family: monospace;
    
    
}
button:hover{
    background-color:#F08080;
    
}
button {
    background-color: #989898;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display:flex;
    justify-content: left;
    font-size: 16px;
    margin: 4px 2px;
  }
  .sidenav{
      background-color:#989898;
  }
  .material-icons{
      color:white;
  }
  .right-container{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: flex-end;
      align-self:flex-end;
      width: 100vw;
  }
  .links-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-self:flex-end;
    
  }
  #github-link{
      Color:white;
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      align-self: flex-end;
      
  }
  #github-link:hover{
      opacity:0.5;
  }
  #linked-button{
      height:48px;
      widows: 48px;
      margin:10px;
      margin-right:25px;
  }
  #resume-button{
    height:48px;
    widows: 48px;
    margin:10px;
    margin-right:36px;
}
#contact-button{
    border-radius: 15%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-self:flex-end;
    height:32px;
    width:100px;
    margin-right:13px;
    font-family: monospace;
    font-style: italic;
}
#github-button{
    height:48px;
    widows: 48px;
    margin:10px;
    margin-right:36px;
}
#crime-image{
    height:150px;
    width:300px;

}
#project-links{
    text-align:center;
    color: aliceblue;
    font-family: monospace;
}
#projects-title{
    text-align:center;
    text-decoration: underline;
    margin-top:10px;
    font-family: monospace;
}
#hide-form{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-self:flex-start;
    display:none;
    color:white;
    
}




