body{
    background:#2e2e2e;
}
.container{
    display: flex;
    height:10vh;
    width:100%;
    align-items:center;
    justify-content:space-evenly;
    }
  
    p{  
        display: :none;
        display: flex;
        align-content: center;
    }
.self-image{
    height:200px;
    width:200px;
    display:flex;
    align-items: center;
    justify-content:center;
    position: relative;    
    bottom:20px;
    border-radius:50%;
}


  #learn-more-button{  
      display: flex;
      position: relative;
      background-color: #989898;    
        top:10px;
        border-radius: 15%;   
       left :20px;
}
#learn-more-button:hover{
    background-color:#F08080;
}

#portfolio-btn{
    border-radius: 15%;   
    display:inline-block;
    
}
button:hover{
    background-color:#F08080;
    
}
button {
    background-color: #989898;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display:flex;
    justify-content: left;
    font-size: 16px;
    margin: 4px 2px;
  }
  .sidenav{
      background-color:#989898;
  }
  .material-icons{
      color:white;
  }
  .right-container{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: flex-end;
      align-self:flex-end;
      width: 100vw;
  }
  .links-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-self:flex-end;
    
  }
  #github-link{
      Color:white;
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      align-self: flex-end;
  }
 




/* .pargraph{
    height:100px;
    width:200px;
    border:2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    background-color:white;
    margin-left:100px;
    clear:left;
    
}


.name{
    font-family: 'Times New Roman', Times, serif;
    
    

}
.header{
    background-color:white;
}
#firstname{
    background:#4aaaa5;
    color: white;
    height:50px;
    width:250px;
    text-align:center;
    margin-top:auto;
    margin-bottom:auto;
    float:left;
    margin-left;
    }
    #about{
        float:right;
        Margin:0px 10px;
       
        }
    #portfolio{
        float:right;
        Margin: 0px 10px;
    }
    #contact{
        float:right;
        margin: 0px 10px;

    }
#p{

}

img{
    float:left;
    height:200px;
    width:200px;
}
a{
    color:#777777;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
}
#h2{
    clear:left;
}
#contacts{
    clear:left;
} */
